#mainHeading{
    background-color: aqua;    
    text-align: center;
}

.books{
    display: inline-flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.bookNames{
    background-color: pink;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: 250px;
}

/* body{   
    background-color: pink;
} */
